torch==2.8.0+cu128
transformers==4.56.2
soundfile==0.13.1
numpy==1.26.3
requests==2.32.5
setuptools==78.1.1
tqdm==4.67.1
omegaconf==2.3.0
torchaudio==2.8.0
safetensors==0.6.2
einops==0.8.1
einx==0.3.0
packaging==25.0
gradio==4.44.1